#########################################################
# Globals options

# Will save your files here, dont touch that
# The line is rewritten at each install,
# Edit the Makefile at BACKUP_DIR if want another value
backup_dir=$HOME/ninja/backups

# You can choose what randomize and skip some action
# Full options are:
# ("hostname" "timezone" "mac" "priv_ip")
randomize=( "hostname" "timezone" "mac" "priv_ip" )

#########################################################
# Network

# Default network device, really important to set.
# For now, support only one interface
net_device="wlp2s0"

# Need to reconfigure your static ip
target_router="192.168.2.1"

# If want dhcpcd, change to yes but your ip 
# cannot be randomize
want_dhcpcd="no"

# Static ip
# You can choose "random" or set an real ip
# ex: static="192.168.1.111" do not add a subnet
static_ip="random"

# Firewall used
# Options are nftables or iptables
firewall="nftables"

# Like static_ip
# You can create a static address like 11:11:11:11:11:11
# or random
static_mac="random"

#########################################################
# Hostname change

# ssh dir
# Need change the hostname in this dir when he change
# keep it void if no need, ex: ssh_dir=""
ssh_dir="/home/brakk/.ssh"

# If use Xorg . .Xauthority of current user
# else change to xauthority_file=""
xauthority_file="/home/brakk/.Xauthority"

# Other files where the new hostname have to be apply
# You can apply multiple files
# ex: other_host_files="/home/blabla.conf /home/other.c"
other_host_files="/home/brakk/.offlineimaprc"

#########################################################
# Randomize options

# prefix or suffix apply to hostname, e.g: blackhole-63htvnuebl
# if you doesn't need prefix or prefix
# just clean the variable like preix_hostname=() or place a comment
# The script will choose a prefix or a suffix :)
prefix_hostname=( "star." "comet-" "nebula-" "blackhole." "android-" )
suffix_hostname=( "-macbookpro" "-iphone" )

# directory contain all timezone
timezone_dir=(/usr/share/zoneinfo/*/*)
