#########################################################
# Globals options

# You can choose what randomize and skip some action
# Order is important, full options are:
# ( "mac" "hostname" "timezone" "priv_ip" )
randomize=( "mac" "hostname" "timezone" "priv_ip" )

#########################################################
# Network

# Default network device, really important to set.
# For now, support only one interface
net_device="wlp2s0"

# Need to reconfigure your static ip
target_router="192.168.1.1"

# Static ip
# You can choose "random", "dhcp" or set an real static ip
# ex: static="192.168.1.111" (do not add a subnet)
static_ip="random"

# Firewall used
# Options are nftables or iptables
firewall="iptables"

# Show firewall log, "yes" or "no"
firewall_quiet="yes"

# static_mac
# You can choose "random" or set a static address like "11:11:11:11:11:11"
static_mac="random"

#########################################################
# Hostname options

# prefix or suffix apply to hostname, e.g: blackhole-63htvnuebl
# if you doesn't need prefix or prefix
# just clean the variable like prefix_hostname=("") or suffix_hostname=("")
# The script will choose between a prefix or suffix
prefix_hostname=( "star-" "comet-" "nebula-" "blackhole-" "android-" )
suffix_hostname=( "-macbookpro" "-iphone" )

# The user affect by hostname change (will change ssh key and xauth if use Xorg)
paranoid_user="yagdra"
paranoid_home="/home/$paranoid_user"

# ssh dir
# Need change the hostname in this dir when he change
# keep it void if no need, ex: ssh_dir=""
ssh_dir="$paranoid_home/.ssh"

# If use Xorg . .Xauthority of current user
# else change to xauthority_file=""
xauthority_file="$paranoid_home/.Xauthority"

# Other files where the new hostname have to be apply
# You can apply multiple files separate by a space
# ex: other_host_files="$paranoid_home/.offlineimaprc $paranoid_home/blabla.conf"
other_host_files=""

#########################################################
# Timezone options

# directory contain all timezone
zoneinfo_dir=/usr/share/zoneinfo
timezone_dir=($zoneinfo_dir/*/*)

#########################################################
# Docker, firewall rules

# If use docker, yes or no
docker_use="no"
# Private adress here, on gentoo, it's use 172.17.0.0/16
docker_ipv4="172.17.0.0/16"

#########################################################
# sshuttle, firewall rules

sshuttle_use="no"
sshuttle_service_name="sshuttle.service"

#########################################################
# Iptables only

# Active secure_rule, can block Nmap:Xmap, Merry Xmas, SF, SR, SFP, SFR, etc...
secure_rules="no"
