[Unit]
Description="Randomize MAC, localtime, ip on ethernet %I"
Documentation="https://github.com/szorfein/paranoid-ninja"
After=network.target nss-lookup.target
Requires=tor.service
TimeoutSec=30

[Service]
ExecStart=/usr/lib/systemd/scripts/paranoid -r -c /etc/paranoid/paranoid.conf
ExecReload=/usr/lib/systemd/scripts/paranoid -r -c /etc/paranoid/paranoid.conf
ExecStop=/usr/lib/systemd/scripts/paranoid --stop
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
