[Unit]
Description="Randomize MAC, localtime, ip on ethernet %I"
Documentation="https://github.com/szorfein/paranoid-ninja"
After=network.target nss-lookup.target paranoid-macspoof@%i.service
Before=tor.service
Requires=paranoid-macspoof@%i.service tor.service

[Service]
ExecStart=/usr/bin/paranoid-ninja -o -c /etc/paranoid-ninja/paranoid.conf
ExecReload=/usr/bin/paranoid-ninja -r -c /etc/paranoid-ninja/paranoid.conf
ExecStop=/usr/bin/paranoid-ninja -S -c /etc/paranoid-ninja/paranoid.conf
RemainAfterExit=yes
TimeoutSec=35
IgnoreSIGPIPE=false
Type=oneshot

[Install]
WantedBy=multi-user.target
